---
import { t } from "i18next";
import { localizePath } from "astro-i18next";
import { Image } from "astro:assets";
import Carousel from "../Carousel.astro";
const { title, subtitle, description, projects } = Astro.props;
const baseUrl = import.meta.env.BASE_URL;
---


<div class="flex">

  <div class="education__time">
    <span class="w-4 h-4 bg-primary block rounded-full mt-1"></span>
    <span class="education__line bg-primary block h-full w-[2px] translate-x-[7px]"></span>
  </div>

  <div class="experience__data bd-grid px-5">
    <h3 class="font-semibold mb-1">{title}</h3>
    <span class="font-light text-sm">{subtitle}</span>
    <p class="pt-2 pb-4">{description}</p>
    
    {
      projects && 
      <div class="time-line-container mb-5">
        {
          projects.map(((project: any) => (
              <div class="flex">

                <div class="projects__time">
                  <span class="w-4 h-4 bg-secondary block rounded-full mt-1"></span>
                  <span class="education__line bg-secondary block h-full w-[2px] translate-x-[7px]"></span>
                </div>

                <div class="pl-5">
                  <div class="flex justify-between">
                    <h3 class="font-semibold mb-1">{project.title}</h3>
                    <div>
                    { project.slug &&
                      <a href={localizePath('/projects/' + project.slug)} class="font-medium hover:underline text-secondary">
                        <span>{t("links.project")}</span>
                      </a> 
                    }
                    { project.url &&
                      <a href={project.url} target="_blank" class="ml-4 font-medium hover:underline text-secondary">
                        <span>{t("links.visit")}</span>
                        <svg class="w-4 h-4 ml-2 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="fill:currentColor;transform: ;msFilter:;"><path d="m13 3 3.293 3.293-7 7 1.414 1.414 7-7L21 11V3z"></path><path d="M19 19H5V5h7l-2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2v-5l-2-2v7z"></path></svg>
                      </a> 
                    }
                    </div>
                  </div>

                  <span class="font-light text-sm">{project.subtitle}</span>

                  <div class="flex flex-row">
                    <div class="w-full md:w-1/2">
                      <p class="my-2">{project.description}</p>
                    </div>
                    <div class="w-1/2 ml-5 hidden md:inline md:w-1/2">
                      {
                        project.images.length && 
                        (
                          project.images.length === 1 && <Image src={baseUrl+project.images[0].url} alt={project.images[0].alt} format="webp" width="720" height="396" />
                          ||
                          project.images.length > 1 && <Carousel media={project.images} />
                        )
                      }
                    </div>
                  </div>

                  <div class="divider my-2"/>

                </div>
                
              </div>
          )))
        }
      </div>
    }
    
  </div>

  

</div>

<style>
  .time-line-container > div:last-child .projects__time > .education__line {
	  display: none;
  }
</style>