---
import { t } from "i18next";
import { Image } from "astro:assets";
import Category from "./Category.astro";
const { title, img, excerpt, url, category, tags } = Astro.props;
//const baseUrl = import.meta.env.BASE_URL;
const baseUrl = '';
---

<div class={category+"-category rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]"}>
  <a href={url}>
    
    <div class="hero-content flex-col md:flex-row">
        {
            img && <Image src={baseUrl + img} width="750"  height="422" format="webp" alt={title} class="max-w-full md:max-w-[13rem] rounded-lg"/>
        }
        <div class="grow w-full">
            <div class="flex">
                <h1 class="text-xl font-bold mr-4">{t(title)}</h1>
                {category && <Category category = {category}/>}
            </div>
            <p class="py-1 text-1xl">{t(excerpt)}</p>
            <div class="card-actions justify-end mt-2">
                {
                    tags && tags.map((tag: string) => <div class="badge badge-outline">{t(tag)}</div>)
                }
            </div>
        </div>
    </div>
  </a>
  
</div>

<div class={category+"-category divider my-0"}/>