---
import i18next, { t } from 'i18next';

import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Sidebar from '../components/Sidebar.astro';

import { SITE_TITLE } from "../consts";

const { title, description, includeSidebar = true, sideBarActiveItemID} = Astro.props;
const initialTheme = "light";

---

<script is:inline>
    const theme = localStorage.getItem('color-theme');
    if (theme) document.documentElement.setAttribute('data-theme', theme);
    else document.documentElement.setAttribute('data-theme', 'light');
</script>

<!DOCTYPE html>
<html lang={i18next.language} data-theme={initialTheme}>

    <head>
        <BaseHead title={SITE_TITLE + " | " + title} description={description}/>   
        <!-- Non declarative tags -->
    </head>
    
    <body>

        <div class="bg-base-100 drawer lg:drawer-open">

            <input id="my-drawer" type="checkbox" class="drawer-toggle" />

            <div class="drawer-content bg-base-100">

                {includeSidebar && <Header title={title} />}

                <div class="md:flex md:justify-center">
                    <main class="p-6 pt-10 lg:max-w-[900px] lg:min-w-[900px] max-w-[100vw] min-w-[100vw]">
                      <slot />
                    </main>
                </div>

                <!-- <Footer /> -->

            </div>

            {includeSidebar && <Sidebar sideBarActiveItemID={sideBarActiveItemID} />}

        </div>
        
        <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
    </body>

</html>